/*masonry grids*/

.grid {
  /* clear fix */
  * {
    box-sizing: border-box;
  }
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  .grid-sizer {
    width: 33.333%;
  }
  .grid-sizer-loader {
    width: 33.333%;
  }
  .grid-item-loader {
    width: 33.333%;
    float: left;
    padding: 5px;
  }
  .grid-item {
    width: 33.333%;
    float: left;
    padding: 5px;
  }
  .grid-item-img {
    display: block;
    width: 100%;
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &:hover {
      transform: translateY(-0.3rem) scale(1.0125);
      box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
    }
  }
}
