/* Navbar */

.nav-item {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: 5px 5px;
}

.scroll {
  margin-top: -10px;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.scrollable-menu {
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.navbar {
  padding: 3px;
  border-bottom: 1px solid #dfe4dd;
  background: white;
  position: inherit;
  width: -webkit-fill-available;

  .navbar-brand {
    margin-top: -7px;
    margin-left: 8px;
  }

  .navbar-avatar {
    margin-top: -8px;
  }

  .notifications-badge {
    margin-top: -6px;
    position: absolute;
    margin-left: -18px;
  }

  .nav-link {
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 5px;
    padding: 10px;
  }
}

/* Navbar end */
