/* other preloader */
.loader-data {
  .one{
    height:270px;
    border-radius:5px
  }
  .two{
    height:50px;
    width: 50px;
    border-radius:50px
  }
  .three{
    height:50px;
    border-radius:5px
  }
  .four{
    height:240px;
    border-radius:5px
  }
  .five{
    height:50px;
    width: 50px;
    border-radius:50px
  }
  .six{
    height:50px;
    border-radius:5px
  }
  .seven{
    height:450px;
    border-radius:5px
  }
  .eight{
    height:50px;
    width: 50px;
    border-radius:50px
  }
  .nine{
    height:50px;
    border-radius:5px
  }
  .ten{
    height:370px;
    border-radius:5px
  }
  .eleven{
    height:50px;
    width: 50px;
    border-radius:50px
  }
  .twelve{
    height:50px;
    border-radius:5px
  }
  .thirteen{
   height:420px;
   border-radius:5px
  }
  .fourteen{
   height:50px;
   width: 50px;
   border-radius:50px
  }
  .fifteen{
   height:50px;
   border-radius:5px
  }
  .sixteen{
   height:300px;
   border-radius:5px
  }
  .seventeen{
   height:50px;
   width: 50px;
   border-radius:50px
  }
  .eighteen{
   height:50px;
   border-radius:5px
  }

  .a{
   height:38px;
   width:450px;
   border-radius:5px;
   margin: 25px auto 10px 0;
  }
  .b{
   height:50px;
   width: 50px;
   border-radius:50px;
   position:absolute;
  }
  .c{
   height: 30px;
   width: 200px;
   border-radius: 5px;
   margin: 18px auto 10px 60px;
  }
  .d{
   height: 25px;
   width: 270px;
   border-radius: 5px;
   margin: 18px auto 10px 0px;
  }
  .e{
   height: 18px;
   width: 60px;
   border-radius: 25px;
   margin-left: 65px;
   position:absolute;
  }
  .f{
   height: 18px;
   width: 60px;
   border-radius: 25px;
  }
  .g{
   height: 280px;
   width: 100%;
   border-radius: 5px;
  }
  .h{
   height: 25px;
   width: 100%;
   border-radius: 5px;
   margin-bottom:3px;
  }
  .i{
   height: 25px;
   width: 100%;
   border-radius: 5px;
   margin-bottom:3px;
  }
  .j{
   height: 25px;
   width: 100%;
   border-radius: 5px;
   margin-bottom:3px;
  }
  .k{
   height: 25px;
   width: 100%;
   border-radius: 5px;
   margin-bottom:3px;
  }
  .l{
   height: 25px;
   width: 100%;
   border-radius: 5px;
   margin-bottom:3px;
  }
  .m{
   height: 25px;
   width: 100%;
   border-radius: 5px;
   margin-bottom:3px;
  }
  .n{
   height: 25px;
   width: 100%;
   border-radius: 5px;
   margin-bottom:3px;
  }
}
