@import '~bootstrap/scss/bootstrap';
@import '~react-toastify/scss/main.scss';
@import 'navbar';
@import 'masonry';
@import 'mainpreloader';
@import 'preloader';
@import '~react-toastify/dist/ReactToastify.css';

.fa-active{
  color: orange;
}

.login-container {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;

  .panel-body {
    padding: 5px 20px 20px 20px;
  }

  .panel-heading {
    padding: 20px 20px 0px 20px;
  }

  .welcome {
    margin: 160px auto auto 80px;
    position: inherit;
  }
}
.publish-div {
  text-align: right;
  position: relative;
  right: 0;
}
.profile-div {
  width: 75%;
  text-align: left;
  left: 0;
  margin-bottom: 2%;
}
.follow-div{
  margin-left: 7%;
  height: 30px;
}
.more {
  color: #4e4c4c !important;
}

.article-more {
  margin-left: 10px;
  color: #4e4c4c !important;
}

.btn-link {
  padding: 0.4rem 1rem;
  border: none;
  background-color: transparent;
  color: #72a57e;
  outline: none!important;
}

.btn-link:hover {
  padding: 0.4rem 1rem;
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: teal;
}
.btn-link:active{
  padding: 0.4rem 1rem;
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: white;
}

.btn-group .btn{
  margin: 5px!important;
}
.btn-facebook{
  color: #fff;
  background-color: #4065b4;
  border-color: #4065b4;
}

.btn-facebook:hover{
  color: #fff;
}

.btn-google{
  color: #fff;
  background-color: #DB4437;
  border-color: #DB4437;
}

.btn-google:hover{
  color: #fff;
}

.btn-twitter{
  color: #fff;
  background-color: #38A1F3;
  border-color: #38A1F3;
}

.btn-twitter:hover{
  color: #fff;
}

.btn-more {
  background-color: white !important;
  color: #4e4c4c !important;
}

.fa-rated {
  color: orange;
}

.fa-ratings {
  color: #4e4c4c !important;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: auto;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.sm-dropdown {
  display: none !important;
}

.sm-hide {
  display: block !important;
  .btn-outline-success:hover {
    color: white !important;
  }
}

.btn-success, .btn-outline-warning:hover {
  color: white !important;
}

.btn-follow {
  width: 80px !important;
}

#loader-data {
  display: contents;
}

.loader-data-hide {
  display: none !important;
  visibility: hidden !important;
}

.loaded-data-show {
  display: contents !important;
}

.auth-container {
  min-height: 400px;
}

.panel {
  padding: 10px 10px;
  border: 1px solid #cac9c9;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel-heading {
  padding: 10px 0px;
}

.followers-avatar {
  height: 40px;
  width: 40px;
}


a {
  color: #72a57e;
  &:hover {
    color: teal;
    text-decoration: none;
  }
}

.contact-details {
  margin-top: 80px;
  font-size: 18px;
}

.card-text, .card-title {
  color: black !important;
}

#page-content {
  min-height: 300px;
  margin-top: 10px;
}

.text-white {
  color: white;
}

.article-bottom {
  padding: 30px;
}

.text-fit {
  color: #3a3939;
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article-avatar {
  height: 45px;
  width: 45px;
  overflow: hidden;
  border-radius: 50px;
}

.article-text {
  padding-top: 5px;
}

.article-header {
  margin: 10px;
}

.article-index-header {
  margin-top: 50px;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.like-comment-button-section {
  margin: -44px 10px auto auto;
  padding: 0 30px;
  a {
    color: white;
    margin: auto auto 5px;
  }
}

.profile-avatar {
  height: 160px;
  width: 160px;
  align-items: right;
  margin: 2px auto;
  display: block;
}

.profile-content {
  margin-top: 20px;
}

.edit-profile-button {
  margin-left: 10px;
}

.message {
  margin-top: 0;
}

.message-avatar {
  margin-top: 10px;
}

.article-title {
  margin-top: 30px;
}

.article-pre-details {
  list-style-type: none;
  margin: 20px 10px 0;
}


#login-form {
  margin: 50px 90px auto 30px;
  background-color: white;
}

.bg-circle-1 {
  height: 35rem;
  width: 45rem;
  top: -25rem;
  right: -25rem;
  z-index: -1 !important;
}

.bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #17a2b8 0%, #ffc107 100%);
}

.bg-circle-2 {
  height: 70rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
  position: fixed;
}

.bg-circle-3 {
  height: 190rem;
  width: 230rem;
  bottom: -130rem;
  left: 57rem;
  position: fixed;
}

/* hide summernote pop overs*/
.note-table-popover, .note-image-popover, .note-link-popover {
  display: none;
}

.text-muted {
  color: blue;
}

label.register-labels {
  display: block;
}

.highlight-error-input {
  border-color: rgba(251, 60, 60, 0.452) !important;
  box-shadow: 0 0 2px 2px rgb(214, 214, 214) !important;
}

.register-redirect-modal {
  width: 60%;
  margin: 2% auto;
  box-shadow: 0 0 3px 3px rgb(109, 109, 109);
  padding: 5%;
  text-align: center;
  font-size: 20px;
  color: rgb(80, 80, 80);
  border-radius: 3px;
}

img#success-icon {
  width: 150px;
  height: auto;
}

.subscript {
  font-size: .7rem;
  color: red;
}

.subscript-error {
  color: red;
}

.list-group-flush .list-group-item {
  border: none;
}

.edit-delete-icons,
.reaction-icons {
  width: 90%;
  margin: 1% 10% 1% 0;
  padding: .8%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.edit-delete-icons {
  margin: 1% 0 1% 10%;
}

.icons {
  font-size: 1.2rem;
  width: 75%;
  margin: auto;
  color: rgb(170, 170, 170);
  transition: all .2s;
  cursor: pointer;
  text-align: center;
}

.icons:hover {
  color: black;
}

.icons#edit-icon:hover {
  color: rgb(0, 0, 0);
}

.icons#delete-icon:hover {
  color: rgb(253, 0, 0);
}

ul#comments-list {
  width: 70%;
  margin-left: 10%;
  margin-right: auto;
  margin-bottom: 15%;
}

ul#comments-list>li {
  position: relative;
}

ul#likes-list {
  width: 50%;
  margin-left: 10%;
  margin-right: auto;
  margin-bottom: 15%;
}

.text-info-custom {
  padding: 0.1em 0.6em;
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  color: #333;
}

.hidden {
  display: none;
}

.text-muted {
  color: #6c757d !important;
  font-size: small;
}

.notifications {
  min-width: 280px;
}

.read{
  background-color:gray;
}
.unread{
  background-color:orange;
}

.reaction {
  color: grey !important;

  &.active {
    color: orange !important;
  }
}
#overlay {
    position: fixed;
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
    //text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 900;
    background-color: rgba(255,255,255,.97);
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

#overlay-text {
  //position: fixed;
  width: 300px;
  height: 40px;
  margin: 100px auto;
  font-size: 12px;
  //transform: translate(400%,20%);
  //-ms-transform: translate(100%,100%);
  //background-color: rgb(189, 194, 203);
}

#load-more {
  color: #0074D9;
  text-align: center;
}

#follow-btn {
    display: inline-block;
    position: relative;
    color: rgba(0,0,0,.54);
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    vertical-align: bottom;
    box-sizing: border-box;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
}

// Reactions on comments

.icons-row {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 1%;
}

.reactor-info {
  width: 90%;
  padding: .5%;
  font-weight: bold;
  margin: 2% auto;
  text-transform: capitalize;
  cursor: pointer;
}

.reactions-container {
  box-shadow: 0 1px 3px rgba(0,0,0,0.92);
  transition: all 0.8s cubic-bezier(.25,.8,.25,1);
  color: rgb(212, 212, 212);
  background-color: rgb(0, 0, 0);
  padding: 1%;
  margin: 1%;
  width: 40%;
  position: absolute;
  top: 80%;
  left: 5%;
  z-index: 1000;
  font-size: 0.8rem;
}

.reactors-names {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.reactors-names>a {
  padding: 10px !important;
  color: rgb(43, 255, 43) !important;
  font-weight: bold !important;
}

.reactors-header {
  border-bottom: 1px solid rgb(189, 189, 189);
  padding: 1%;
  width: 100%;
}

.icons-div {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.reaction-count {
  position: absolute;
  top: -10px;
  left: -1px;
  z-index: 300;
  font-size: .7rem;
  color: rgb(49, 49, 49);
  font-weight: bolder;
}

.liked {
  color: rgb(245, 165, 18) !important;
  font-weight: bold;
}


.disliked {
  color: rgb(255, 0, 0) !important;
  font-weight: bold;
}

.unreacted {
  color: rgb(192, 192, 192) !important;
  font-weight: normal !important;
}


#paginate {
  float: right;
}

.pageLink {
  margin: 2px;
  display: inline-block;
  padding: 2px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.currentLink {
  background-color: #0074c2;
  color: #FFFFFF;
}

.currentLink a:link { color: #FFFFFF; }
.currentLink a:visited { color: #FFFFFF; }
.currentLink a:active { color: #FFFFFF; }

.notfound .notfound-404 {
  height: 280px;
  position: relative;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 200px;
  margin: 0px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  //background: url('../img/bg.jpg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

@import 'mediaqueries';
